/* CSS Document .. */
body {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-family: OpenSansLight;
	background-color: #f8f8f8;
}

#fullwidth {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#container {
	width: 1200px;
	margin: auto;
}

#header {
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 9999;
	background-color: #39cba5;
}
.header-grey {
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 9999;
	background-color: #efefef;
}
.header-left {
	float: left;
	width: 282px;
	margin-top: 15px;
}

.header-right {
	float: right;
	padding-top: 10px;
}

#container-inside {
	width: 1130px;
	margin: auto;
	padding: 45px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}

#container-inside-jobs {
	width: 1160px;
	margin: 0 auto;
	background-color: #fff;
	position: fixed;
	top: 80px;
	text-align: center;
}

#container-inside-job {
	padding: 60px;
	width: 1160px;
	margin: auto;
	height: auto;
}

#container-inside-footer {
	width: 1160px;
	margin: auto;
	background-color: #fff;
}

.jobs-hori {
	background: url("../images/icon-listarrow.png") no-repeat scroll 0px
		10px transparent;
	list-style: outside none none;
	padding-left: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#footer {
	width: 100%;
	margin: auto;
	padding: 30px;
	text-align: center;
}

#footer1 {
	width: 100%;
	margin: auto;
	color: white;
	padding: 3px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	background-color: #0956A4;
}

@font-face {
	font-family: OpenSansLight;
	src: url("OpenSans-Light.ttf");
}

.title {
	font-family: OpenSansLight;
	font-size: 60px;
	font-weight: 700;
	color: #00C19E;
	text-decoration:  overline;

}
.title_news{
	font-family: OpenSansLight;
	font-size: 40px;
	font-weight: lighter;
	color: #0956a4;
	text-align: center;
}
.title-JOBS {
	font-family: OpenSansLight;
	font-size: 30px;
	font-weight: normal;
	color: #0956a4;
}

.title_banner {
	font-family: OpenSansLight;
	font-size: 60px;
	font-weight: normal;
	color: white;
}

.title_small {
	font-family: OpenSansLight;
	font-size: 44px;
	font-weight: normal;
	color: #0956a4;
}

.subtitle {
	font-family: OpenSansLight;
	font-size: 30px;
	font-weight: normal;
	color: #00C19E;
}

a.subtitle-link:link,a.subtitle-link:visited {
	font-family: OpenSansLight;
	font-size: 30px;
	font-weight: 600;
	color: #00C19E;
	text-decoration: none;
}

a.subtitle-link:hover {
	color: #900;
}

.subtitle_banner {
	font-family: OpenSansLight;
	font-size: 30px;
	font-weight: normal;
	color: white;
}

.content-box {
	background-color: white;
	width: 1160px;
	padding: 50px;
	border: 1px solid #e0e0e0;
}

.box {
	width: 440px;
	padding: 25px;
	border: solid 1px #e3e3e3;
	background-color: #f8f8f8;
}

.footer {
	text-align: center;
}

.accordion {
	margin: 1em 0
}

.banner-bg {
	background-image: url("../images/banner-work-with-us.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 368px;
}

.accordion h4 {
	background: right top #b1d3f4;
	color: #000;
	cursor: pointer;
	margin: 10px;
	padding: 4px 10px;
	font-family: OpenSansLight;
}

.accordion h4.current {
	background: right top #b2cae1;
	cursor: default
}

.accordion div.pane {
	padding: 5px 10px
}

.textfield {
	background-color: #FFF;
	border: #CCC 1px solid;
	width: 400px;
	padding: 15px;
	margin-bottom: 2px;
	font-size: 16px;
	font-weight: lighter;
}

#captcha-form {
	background-color: #FFF;
	border: #CCC 1px solid;
	width: 400px;
	padding: 15px;
	margin-bottom: 2px;
	font-size: 16px;
	font-weight: lighter;
}

.textfield-dropdown {
	background-color: #FFF;
	padding: 7px 0px 7px 15px;
	margin-bottom: 2px;
	font-size: 16px;
	font-weight: lighter;
}

.textfield-cover {
	background-color: #FFF;
	border: #000 1px solid;
	width: 450px;
	height: 200px;
	padding: 10px;
	margin-bottom: 8px;
	height: 200px;
}

a.link:link,a.link:visited {
	font-size: 18px;
	color:  #00C19E;
	font-weight: 500;
	text-decoration: none;
	font-family: OpenSansLight;
}

a.link:hover {
	color: #930;
}

.js .panel-title {
	margin: 0;
}

.panel-title a {
	border-bottom: none;
	color: #ffffff;
	display: block;
	padding: 1.25em 0;
	position: relative;
	text-decoration: none;
	-webkit-transition: color 200ms ease 0s;
	-moz-transition: color 200ms ease 0s;
	transition: color 200ms ease 0s;
	width: 95%;
}

.panel-title a .icon {
	color: #fff;
	position: absolute;
	right: 0;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
	margin-right: 20px;
	margin-left: 10px;
}

.panel-title a:hover,.panel-title a:focus {
	color: #37474f;
}

.panel-title a:hover .icon,.panel-title a:focus .icon {
	color: #242424;
	margin-right: 20px;
}

.panel-title a.active {
	color: #37474f;
}

.panel-title a.active .icon {
	color: #242424;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: 20px;
}

.js .accordion {
	border-bottom: 1px solid #ececec;
	width: 450px;
	text-align: justify;
	font-size: 16px;
}

.accordion .panel-title a {
	border-top: 1px solid #ececec;
	background-color: #39cc70;
	padding: 20px;
}

[id^="panel-"] {
	padding-bottom: 2em;
}

h3 {
	font-size: 14px;
}

.login {
	width: auto;
	display: inline-block;
	margin: auto;
	/*background-image: url(../images/bg_login_ex.png);*/
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 320px;
    background-image: linear-gradient( 120deg ,#e3e3e3,#ffffff 80%);
    min-height: 300px;
    border-radius: 6px;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.2);

}

.login_textfield {
	width: 200px;
	padding: 4px;
	height: 30px;
	background-color: #a7a7a7;
	border: 1px solid #777;
	border-radius: 5px !important;
	outline: none;
}

.login_textfield:focus {
	 border-color: #333;
	/* box-shadow: 0px 0px 3px 1px #777; */
}

.forget_password {
	width: 200px;
	padding: 4px;
	height: 30px;
	border: 0px none;
	border-radius: 5px !important;
	text-indent: 5px;
	color: black;
}

.cable_box {
	padding: 30px;
	text-align: center;
	color: white;
	float: left;
	background-image: url(../images/calbe_boxbg.png);
	background-repeat: repeat-x repeat-y;
}

.clear {
	clear: both;
}

a.navlink-main:link,a.navlink-main:visited {
	font-size: 15px;
	color: #333;
	line-height: 28px;
	font-weight: 300;
	text-decoration: none;
	font-family: OpenSansLight;
}

a.navlink-main:hover {
	color: #388265;
}

a.headerlink:link,a.headerlink:visited {
	font-size: 14px;
	color: #fff;
	font-weight: lighter;
	text-decoration: none;
	font-family: OpenSansLight;
}

a.headerlink:hover {
	color: #09C;
}

#formbox {
	width: 470px;
	padding: 40px 30px 30px 30px;
	background-color: white;
	opacity: 0.7;
	border: 1px solid #999;
	background-color: #CCC;
}

.tr-color {
	color: #000;
}

.small_text {
	font-size: 20px;
}

.textfield_maps,#captcha-form {
	width: 90%;
	line-height: 20px;
	padding: 0 3px;
}

#successmsg {
	font-size: 12px;
	line-height: 18px;
}

.popUpdata h2 {
	text-align: center;
	font-weight: 300;
	line-height: 30px;
}

.popUpdata.dpossible {
	color: green;
}

.popUpdata.possible {
	color: orange;
}

.popUpdata.npossible {
	color: red;
}

.hero {
	text-align: center;
}

.title-header {
	font-size: 28px;
	padding: 20px;
	color: #00C19E;
	border: 1px solid #E1E1C5;
}

.left-class {
	width: 65%;
	float: left;
	padding-right: 22px;
	text-align: justify;
}
.left-class-news {
	width: 40%;
	float: left;
	padding-right: 22px;
	text-align: justify;
}
.text_news{
	text-align: justify;
	word-wrap: break-word;
	width:100%;

}
.right-class {
	padding-left: 70px;
	width: 30%;
	float: right;
}
.right-class-news {
	padding-left: 70px;
	width: 60%;
	float: right;
}

.left-class-jobs {
	font-weight: normal;
	font-size: 15px;
	word-wrap: break-word;
	width: 63%;
	font-size: normal;
	padding-top: 5px;
	float: left;
	padding-right: 2px;
	text-align: justify;
	word-wrap: break-word;
}

.right-class-jobs {
	background-color: #EAF4F4;
	border-radius: 0px 0px 6px 6px;
	padding: 4px 16px;
	font-size: 15px;
	text-align: justify;
	position: fixed;
	right: 0px;
	padding-left: 2px;
	width: 35%;
	float: right;
}

.view-header {
	background-color: rgba(9, 86, 164, 0.77);
	font-weight: bold;
	color: white;
	padding: 14px;
	font-size: 14px;
	border-radius: 6px 6px 0px 0px;
}

.astrick {
	color: red;
}

.view-content {
	word-wrap: break-word;
}

.view-content ul {
	margin: 0px 0px 0.75em;
	padding: 0px;
	list-style-type: disc;
}

.view-content ul li {
	list-style: outside none none;
	padding: 0px;
	margin: 0px;
	list-style: outside none none;
	border-bottom: 1px dotted #A5BABA;
	list-style: outside none none;
}

.view-content ul li a {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	padding: 8px 16px;
	background-color: #EAF4F4;
	display: block;
}

.view-content ul li a:hover {
	background-color: #CDE9E9;
}

.hb-arrow {
	background: url("../images/icon-hiring-arrow.png") repeat scroll 0% 0%
		transparent;
	height: 40px;
	width: 22px;
	left: 74%;
	margin-top: -10px;
	position: absolute;
}

.more-link {
	text-align: center;
	margin-top: 20px;
	clear: both;
	padding: 10px;
}

.more-link a {
	box-shadow: 0px 0px 4px #CACACA;
	border-radius: 8px;
	cursor: pointer;
	padding: 6px 15px;
	color: #333;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #9EB3B7;
	background-color: #F4F4F4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	outline: medium none;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.view-footer {
	word-wrap: break-word;
}

.view-footer p {
	background-color: #EAF4F4;
	border-radius: 0px 0px 6px 6px;
	padding: 11px 16px;
}

.fullnews {
	text-decoration: none;
	font-weight: bold;
	font-size: 26px;
	color: #00B58B;
}

.block-title {
	font-weight: bold;
	padding: 3px;
	border-bottom: 1px dotted #A5BABA;
}

.auther-info {
	color: #606E6B;
}

.more-read {
	float: right;
	background-color: antiquewhite;
}

.more-read a {
	font-weight: bold;
	text-decoration: none;
}

.whole-article-list {
	padding: 10px;
	width: 100%;
}

.container-data {
	margin: 0 auto:
}

.full-cv-form {
	width: 40%;
	margin: 0px auto;
	border: 1px solid #5e5e5e;
}

strike {
	color: red;
	font-size: 14px;
}

em {
	font-size: 12px;
}

.nav_down{
	padding:7px;
	border:0px solid #CCC;
	position:fixed;
	background:url(../images/arrow_down.png) no-repeat top left;
	background-position:50% 50%;
	width:49px;
	height:49px;
	bottom:10px;
	right:70px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 0px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
}


.tab-container
{
	width:1000px;
	margin:auto;
	padding-bottom:0px;
}

.tab-header
{
	background-color:#FFF;
	padding:20px;
	text-align:center;
}

/*.tab-subheader
{
	background-color:#4F81BD;
	padding:20px 20px 0px 20px;
	border-radius:6px;
	#00C19E
}*/

.tab-subheader {
    background-color: rgba(63, 171, 139, 0.88);
    padding: 3px 5px 0px 25px;
    border-radius: 6px;
}

.tab-title-col
{
	/* padding:15px; */
	width:23%;
	float:left;
	font-size:14px;
	font-weight:bold;
	background-color:rgba(255,255,255,0);
	
}

.tab-pricing-col
{
	/*padding:0px 15px 15px 15px;*/
	width:25%;
	float:left;
	border-radius:6px;
	transition:all ease-in-out;
	transition-duration:0.3s;
	/* background-color:#4F81BD; */
	background-color:#00C19E;
	color:#FFF;
	font-size:14px;
	
}



.tab-pricing-col:hover
{
	transform:scale(1.1);
	padding:15px 0px 0px 0px;
	z-index:9999;
	box-shadow: 2px 2px 9px 9px rgba(0,0,0,0.3);
}

.clear
{
	clear:both;
}

.tab-title-col ul, .tab-pricing-col ul
{
	padding:0px;
	margin:0px;
}

.tab-title-col li, .tab-pricing-col li {
    list-style: outside none none;
    display: block;
   /*  margin-bottom: 10px; */
    padding: 5px 5px 5px 10px;
}

.white
{
	color:#FFF;
}

.border-bottom
{
	border-bottom:1px solid #FFF;
}

.order-button
{
	/* background-color:#0956A4;  */
	background-color: rgba(45, 163, 133, 0.95);
	margin-bottom:10px;

	padding:10px; text-align:center; font-weight:bold; margin-top:10px;
}

a{
	text-decoration:none;
	color:#FFF;
}

.bold
{
	font-weight:bold;
	font-size:18px;
	/* background-color:#0956A4; */
	border-bottom:0px solid #999;
	line-height: 24px !important;
}

.mrgn-top
{
	margin-top:49px;
}



	.resp-tab-item.hor_1.resp-tab-active {
    background-color: #00C19E !important;
    border: 0px !important;
	color:#FFF;
	}
	
	.resp-tab-item.ver_1.resp-tab-active {
     background-color: rgba(255, 255, 255, 0.9) !important;
    border: 0px none !important;
    color: #000;
    border-radius: 6px 6px 0px 0px;
}
.resp-tab-item.ver_1.resp-tab-active:hover
{background-color:#999999;
}

.hor_1.resp-tab-item:hover
{
	background-color:#4F81BD  !important; 
}

.resp-tab-item.hor_1.resp-tab-active:hover
{
	background-color:#999999;
}

.resp-tab-item.hor_1.resp-tab-active {
    border-radius: 50%;
height: 150px;
width: 150px;
vertical-align: middle;

}


.resp-tab-item.hor_1 {
	    border-radius: 50%;
height: 150px;
width: 150px;
vertical-align: middle;
margin-right: -285px;
margin-left: 335px;
margin-top:30px;
margin-bottom:20px;
color:#FFF;
background-color:#999999 !important;
	
}

.info
{
	color:red; font-size:12px; margin-bottom:5px;font-style:italic;
}

/* .transparent
{
	background-color:rgba(0,0,0,0.2);
} */

.transparent {
    background-color: rgba(173, 216, 230, 0.2);
    font-size: 14px;
    font-weight: bold;
}

.transparent2 {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: bold;
}

.router-pricing-box {
    width: 940px;
    background-color: #00C19E;
    border-radius: 6px;
    padding: 30px;
    margin-top: 15px;
}

.tooltip{
    display: inline;
    position: relative;
}


.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 0%;
    padding: 5px 10px;
    position: absolute;
  
    width: 180px;
	font-size:12px;
}



.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
  
}

.qrcode-bg
{
	width:240px;
	height:475px;
	background-image:url(../images/app/qrcode.png);
	background-repeat:no-repeat;
	
}

.qrcode-space
{
	width:120px; height:121px; margin:auto;
}

p.problem-message {
	width: 100%;
	color: #00C19E;
	line-height: initial;
	text-align: center;
	font-size: 11px;
	background-color: #f8f8f8 !important;
}


ul.new-fiber-desc {
	list-style-type: disc;
	font-size: 0.8em;
	margin-left: 50px;
    margin-top: 10px;
}