.hide {
    display: none;
}
.wizard-pane {
    position: absolute;
    opacity: 0;
    top: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}
.wizard-pane.active {
    position: relative;
    visibility: visible;
    opacity: 1;
}
.wizard-pane.activing {
    visibility: visible;
}
.wizard-content {
    position: relative;
    padding: 0;
    transition: height 0.2s ease;
}
.current {
    color: blue !important;
}
.error {
    color: red !important;
}
.done {
    color: green !important;
}
.disabled {
    cursor: not-allowed !important;
}
.wizard-pane {
    padding: 10px;
}
.wizard-content {
    border: 1px solid #aaa;
}
.wizard-steps {
    padding: 0;
    margin: 0;
    list-style: none;
}
.wizard-steps > li {
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    color: #666;
}
.wizard-steps > li:hover {
    color: #333;
}
.wizard-buttons {
    margin-top: 10px;
}
.wizard-buttons > a {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
}
.wizard-buttons > a.disabled {
    color: #aaa;
    border-color: #aaa;
}
.fv-has-feedback{position:relative}.fv-control-feedback{position:absolute;top:0;right:0;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center}.fv-help-block{display:block}.fv-form-bootstrap .help-block{margin-bottom:0}.fv-form-bootstrap .tooltip-inner{text-align:left}.fv-form-bootstrap .fv-icon-no-label{top:0}.fv-form-bootstrap .fv-bootstrap-icon-input-group{z-index:100}.form-inline.fv-form-bootstrap .form-group{vertical-align:top}.fv-form-foundation .fv-control-feedback{top:21px;right:15px;width:37px;height:37px;line-height:37px}.fv-form-foundation .collapse .fv-control-feedback{top:0;right:0}.fv-form-foundation .fv-icon-no-label,.fv-form-horizontal.fv-form-foundation .fv-control-feedback{top:0}.fv-form-foundation .error .fv-control-feedback{color:#f04124}.error.fv-has-tooltip select,.error.fv-has-tooltip textarea,.fv-form-foundation .error.fv-has-tooltip input{margin-bottom:1rem}.fv-form-pure .fv-control-feedback{top:22px;width:36px;height:36px;line-height:36px}.pure-form-stacked.fv-form-pure .fv-control-feedback{top:4px}.pure-form-aligned .pure-control-group .fv-help-block{margin-top:5px;margin-left:180px}.fv-form-pure .fv-icon-no-label,.pure-form-aligned.fv-form-pure .fv-control-feedback{top:0}.fv-form-pure .fv-has-error .fv-control-feedback,.fv-form-pure .fv-has-error .fv-help-block,.fv-form-pure .fv-has-error label{color:#CA3C3C}.fv-form-semantic .fv-control-feedback.icon{right:7px}.fv-form-semantic .error .icon{color:#d95c5c}.fv-form-horizontal.fv-form-semantic .row{padding-bottom:0}.fv-form-uikit .fv-control-feedback{top:25px;width:30px;height:30px;line-height:30px}.fv-form-uikit .uk-text-danger{display:block}.uk-form-horizontal.fv-form-uikit .fv-control-feedback{top:0}.fv-form-uikit .fv-has-error .fv-control-feedback,.fv-form-uikit .fv-has-error .uk-form-label,.fv-form-uikit .fv-has-error label{color:#D85030}.fv-form-uikit .fv-icon-no-label{top:0}